.buildpath
.settings/
.project
*.patch
.idea/
.vscode/
.fleet/
.git/
runtime/
codeCoverage/
vendor/
.phpintel/
.env
.DS_Store
*.lock
node_modules/*
*.cache
.bashrc
/phpstan.neon
/phpunit.xml
!/src/support/tests/envs/**/*.env
