<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src/amqp/src</directory>
            <directory suffix=".php">./src/async-queue/src</directory>
            <directory suffix=".php">./src/cache/src</directory>
            <directory suffix=".php">./src/circuit-breaker/src</directory>
            <directory suffix=".php">./src/command/src</directory>
            <directory suffix=".php">./src/config/src</directory>
            <directory suffix=".php">./src/config-center/src</directory>
            <directory suffix=".php">./src/config-nacos/src</directory>
            <directory suffix=".php">./src/constants/src</directory>
            <directory suffix=".php">./src/consul/src</directory>
            <directory suffix=".php">./src/context/src</directory>
            <directory suffix=".php">./src/coordinator/src</directory>
            <directory suffix=".php">./src/crontab/src</directory>
            <directory suffix=".php">./src/dag/src</directory>
            <directory suffix=".php">./src/database/src</directory>
            <directory suffix=".php">./src/database-pgsql/src</directory>
            <directory suffix=".php">./src/db-connection/src</directory>
            <directory suffix=".php">./src/di/src</directory>
            <directory suffix=".php">./src/dispatcher/src</directory>
            <directory suffix=".php">./src/elasticsearch/src</directory>
            <directory suffix=".php">./src/etcd/src</directory>
            <directory suffix=".php">./src/event/src</directory>
            <directory suffix=".php">./src/grpc-client/src</directory>
            <directory suffix=".php">./src/guzzle/src</directory>
            <directory suffix=".php">./src/http-message/src</directory>
            <directory suffix=".php">./src/http-server/src</directory>
            <directory suffix=".php">./src/http2-client/src</directory>
            <directory suffix=".php">./src/json-rpc/src</directory>
            <directory suffix=".php">./src/kafka/src</directory>
            <directory suffix=".php">./src/logger/src</directory>
            <directory suffix=".php">./src/macroable/src</directory>
            <directory suffix=".php">./src/model-cache/src</directory>
            <directory suffix=".php">./src/nacos/src</directory>
            <directory suffix=".php">./src/nats/src</directory>
            <directory suffix=".php">./src/nsq/src</directory>
            <directory suffix=".php">./src/paginator/src</directory>
            <directory suffix=".php">./src/phar/src</directory>
            <directory suffix=".php">./src/redis/src</directory>
            <directory suffix=".php">./src/rpc/src</directory>
            <directory suffix=".php">./src/rpc-client/src</directory>
            <directory suffix=".php">./src/rpc-multiplex/src</directory>
            <directory suffix=".php">./src/rpn/src</directory>
            <directory suffix=".php">./src/scout/src</directory>
            <directory suffix=".php">./src/server/src</directory>
            <directory suffix=".php">./src/service-governance/src</directory>
            <directory suffix=".php">./src/session/src</directory>
            <directory suffix=".php">./src/snowflake/src</directory>
            <directory suffix=".php">./src/task/src</directory>
            <directory suffix=".php">./src/testing/src</directory>
            <directory suffix=".php">./src/tracer/src</directory>
            <directory suffix=".php">./src/utils/src</directory>
            <directory suffix=".php">./src/websocket-client/src</directory>
            <directory suffix=".php">./src/websocket-server/src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Tests">
            <directory suffix="Test.php">./src/amqp/tests</directory>
            <directory suffix="Test.php">./src/async-queue/tests</directory>
            <directory suffix="Test.php">./src/cache/tests</directory>
            <directory suffix="Test.php">./src/circuit-breaker/tests</directory>
            <directory suffix="Test.php">./src/command/tests</directory>
            <directory suffix="Test.php">./src/config/tests</directory>
            <directory suffix="Test.php">./src/config-center/tests</directory>
            <directory suffix="Test.php">./src/config-nacos/tests</directory>
            <directory suffix="Test.php">./src/config-zookeeper/tests</directory>
            <directory suffix="Test.php">./src/constants/tests</directory>
            <directory suffix="Test.php">./src/consul/tests</directory>
            <directory suffix="Test.php">./src/context/tests</directory>
            <directory suffix="Test.php">./src/coordinator/tests</directory>
            <directory suffix="Test.php">./src/crontab/tests</directory>
            <directory suffix="Test.php">./src/dag/tests</directory>
            <directory suffix="Test.php">./src/database/tests</directory>
            <directory suffix="Test.php">./src/database-pgsql/tests</directory>
            <directory suffix="Test.php">./src/db/tests</directory>
            <directory suffix="Test.php">./src/db-connection/tests</directory>
            <directory suffix="Test.php">./src/devtool/tests</directory>
            <directory suffix="Test.php">./src/di/tests</directory>
            <directory suffix="Test.php">./src/dispatcher/tests</directory>
            <directory suffix="Test.php">./src/elasticsearch/tests</directory>
            <directory suffix="Test.php">./src/etcd/tests</directory>
            <directory suffix="Test.php">./src/event/tests</directory>
            <directory suffix="Test.php">./src/exception-handler/tests</directory>
            <directory suffix="Test.php">./src/framework/tests</directory>
            <directory suffix="Test.php">./src/grpc-client/tests</directory>
            <directory suffix="Test.php">./src/grpc-server/tests</directory>
            <directory suffix="Test.php">./src/guzzle/tests</directory>
            <directory suffix="Test.php">./src/http-message/tests</directory>
            <directory suffix="Test.php">./src/http-server/tests</directory>
            <directory suffix="Test.php">./src/http2-client/tests</directory>
            <directory suffix="Test.php">./src/json-rpc/tests</directory>
            <directory suffix="Test.php">./src/kafka/tests</directory>
            <directory suffix="Test.php">./src/logger/tests</directory>
            <directory suffix="Test.php">./src/macroable/tests</directory>
            <directory suffix="Test.php">./src/metric/tests</directory>
            <directory suffix="Test.php">./src/model-cache/tests</directory>
            <directory suffix="Test.php">./src/nacos/tests</directory>
            <directory suffix="Test.php">./src/nats/tests</directory>
            <directory suffix="Test.php">./src/nsq/tests</directory>
            <directory suffix="Test.php">./src/paginator/tests</directory>
            <directory suffix="Test.php">./src/phar/tests</directory>
            <directory suffix="Test.php">./src/pool/tests</directory>
            <directory suffix="Test.php">./src/process/tests</directory>
            <directory suffix="Test.php">./src/protocol/tests</directory>
            <directory suffix="Test.php">./src/rate-limit/tests</directory>
            <directory suffix="Test.php">./src/redis/tests</directory>
            <directory suffix="Test.php">./src/retry/tests</directory>
            <directory suffix="Test.php">./src/rpc/tests</directory>
            <directory suffix="Test.php">./src/rpc-client/tests</directory>
            <directory suffix="Test.php">./src/rpc-multiplex/tests</directory>
            <directory suffix="Test.php">./src/rpc-server/tests</directory>
            <directory suffix="Test.php">./src/rpn/tests</directory>
            <directory suffix="Test.php">./src/scout/tests</directory>
            <directory suffix="Test.php">./src/server/tests</directory>
            <directory suffix="Test.php">./src/service-governance/tests</directory>
            <directory suffix="Test.php">./src/session/tests</directory>
            <directory suffix="Test.php">./src/signal/tests</directory>
            <directory suffix="Test.php">./src/snowflake/tests</directory>
            <directory suffix="Test.php">./src/socket/tests</directory>
            <directory suffix="Test.php">./src/socketio-server/tests</directory>
            <directory suffix="Test.php">./src/super-globals/tests</directory>
            <directory suffix="Test.php">./src/task/tests</directory>
            <directory suffix="Test.php">./src/testing/tests</directory>
            <directory suffix="Test.php">./src/tracer/tests</directory>
            <directory suffix="Test.php">./src/translation/tests</directory>
            <directory suffix="Test.php">./src/utils/tests</directory>
            <directory suffix="Test.php">./src/validation/tests</directory>
            <directory suffix="Test.php">./src/watcher/tests</directory>
            <directory suffix="Test.php">./src/websocket-client/tests</directory>
            <directory suffix="Test.php">./src/websocket-server/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
